﻿.table .bg-primary {
    background: #9c27b0 !important;
}


.table thead tr th:first-child {
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.table thead tr th:last-child {
     border-top-right-radius: 5px;
     -moz-border-radius-topright: 5px;
 }

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}