﻿@using Microsoft.EntityFrameworkCore
@using Nuevo.Core.Extensions
@using Nuevo.Service.App
@inject IApplicationService ApplicationService
@{
    ViewData["Title"] = "Home Page";
}

<div class="section text-center">
    <div class="row" id="applicationStateParent">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="row">
                <div class="col">
                    <h2 class="title">Applications</h2>
                </div>
                <div class="col-12 position-absolute text-right">
                    <button class="btn btn-primary btn-round mt-1" data-toggle="modal" data-target="#myModal">+ Add New Application</button>
                </div>
            </div>
        </div>
        
        @foreach (var itr in ApplicationService.GetAll(ApplicationService.SetQuery().Include(x => x.ApplicationRecords).Where(x => !x.IsDeleted && x.UserName == User.Identity.Name), false).GetAwaiter().GetResult())
        {
            var applicationRecord = itr.ApplicationRecords.OrderByDescending(x => x.ApplicationRecordId).FirstOrDefault();
            <div class="col-md-4" id="application_@itr.ApplicationId">
                <div class="card">
                    <button type="button" class="btn btn-primary btn-link text-white float-right edit-application  pl-0 pr-0" style="position: absolute; top: -30px; right: 25px"
                            data-id="@itr.ApplicationId">
                        <i class="material-icons">edit</i>
                    </button>
                    <a href="/applicationlog/@itr.ApplicationId" class="btn btn-primary btn-link text-white float-right pl-0 pr-0" style="position: absolute; top: -30px; right: 55px"
                            data-id="@itr.ApplicationId">
                        <i class="material-icons">search</i>
                    </a>
                    <button type="button" class="btn btn-primary btn-link text-white float-right remove-application pl-0 pr-0" style="position: absolute; top: -30px; right: 85px"
                            data-id="@itr.ApplicationId">
                        <i class="material-icons">delete</i>
                    </button>

                    <div id="applicationHeader_@itr.ApplicationId" class="card-header @(applicationRecord == null ? "card-header-info" : (int) applicationRecord.Status >= 200 && (int) applicationRecord.Status < 300 ? "card-header-success" : "card-header-danger")">
                        <h4 class="card-title" id="applicationName_@itr.ApplicationId">@itr.Name</h4>
                        <p class="category" id="applicationState_@itr.ApplicationId">@applicationRecord?.Status</p>
                    </div>
                    <div class="card-body">
                        <image src="https://www.google.com/s2/favicons?domain=@(itr.Url.ClearHttpTag(true))" />
                        @itr.Url
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@section RenderModal
{
    <div class="modal fade" id="myModal" tabindex="-1" role="">
        <div class="modal-dialog modal-login" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <div class="card-header card-header-primary text-center col-md-12">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </button>

                            <h4 class="card-title">Create New Application</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form class="form" method="post" id="appCreateForm">
                            <div class="card-body">
                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="material-icons">shop_two</i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="App Name..." data-validation-matches-message="Must match email address entered above" name="appName" id="appName">
                                        <div class="col-sm-12 messages text-danger"></div>
                                    </div>
                                </div>

                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="material-icons">language</i></div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="App Url..." name="appUri" id="appUri">
                                        <div class="col-sm-12 messages text-dander"></div>
                                    </div>
                                </div>

                                <div class="form-group bmd-form-group" novalidate>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="material-icons">access_time</i></div>
                                        </div>
                                        <div class="ipt-group col-md-2 m-0 p-0">
                                            <label class="form-control-placeholder" for="dayInput">Day</label>
                                            <input type="number" class="form-control" name="dayInput" id="dayInput">
                                        </div>
                                        <div class="ipt-group col-md-2 m-0 p-0">
                                            <label class="form-control-placeholder" for="hourInput">Hour</label>                                        
                                            <input type="number" class="form-control" name="hourInput" id="hourInput">
                                        </div>
                                        <div class="ipt-group col-md-3 m-0 p-0">
                                            <label class="form-control-placeholder" for="minuteInput">Minute</label>
                                            <input type="number" class="form-control" name="minuteInput" id="minuteInput">
                                        </div>
                                        <div class="ipt-group col-md-3 m-0 p-0">
                                            <label class="form-control-placeholder" for="secondInput">Second</label>
                                            <input type="number" class="form-control" name="secondInput" id="secondInput">
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="ApplicationId" id="applicationId" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" onclick="$('#appCreateForm').submit()" id="frmButton" class="btn btn-primary btn-wd btn-lg">CREATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="~/js/validate.min.js"></script>
    <script src="~/js/site.js"></script>
}

@section Styles{ 
    <style>
        .ipt-group {
            position: relative;
            margin-bottom: 1.5rem;
        }

        .ipt-control-placeholder {
            position: absolute;
            top: 0;
            padding: 7px 0 0 13px;
            transition: all 200ms;
            opacity: 0.5;
        }

        .ipt-control:focus + .form-control-placeholder,
        .ipt-control:valid + .form-control-placeholder {
            font-size: 75%;
            transform: translate3d(0, -100%, 0);
            opacity: 1;
        }
    </style>
}