﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["title"] | Nuevo</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/css/material-kit.css?v=2.0.6" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/demo/demo.css" rel="stylesheet" />

    @await RenderSectionAsync("styles", false)
</head>

<body class="login-page sidebar-collapse">
    
    <div class="page-header header-filter" style="background-image: url('/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/moment.min.js"></script>
    <script src="~/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="~/js/material-kit.js?v=2.0.6" type="text/javascript"></script>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>
