﻿<footer class="footer footer-default">
    <div class="container">
        <div class="copyright float-right">
            &copy; @DateTime.Now.Year  Nuevo Softwarehouse
        </div>
    </div>
</footer>