﻿<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                <img src="http://www.nuevo.com.tr/Assets/images/nuevo_logo.png" style="height: 100%" alt="Nuevo Softwarehouse">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link"><i class="material-icons">home</i>Home</a></li>
                <li class="nav-item"><a href="/applicationlog" class="nav-link"><i class="material-icons">file_copy</i>Logs</a></li>
                <li class="nav-item"><a href="/account/logout" class="nav-link"><i class="material-icons">logout</i>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>