﻿@using System.Globalization
@model IEnumerable<ApplicationLogModel>
@{
    ViewData["Title"] = "Log";
}

<div class="section text-center">
    <div class="row" id="applicationStateParent">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="row">
                <div class="col">
                    <h2 class="title">Applications Logs (Top 50)</h2>
                </div>
            </div>
        </div>
        <table class="table table-active table-secondary">
            <thead class="bg-primary text-white">
                <tr>
                    <th>LogID</th>
                    <th>Application Name</th>
                    <th>Application Url</th>
                    <th>State</th>
                    <th>Description</th>
                    <th>Log Time</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.LogId</td>
                            <td>@item.ApplicationName</td>
                            <td>@item.ApplicationUrl</td>
                            <td>@item.ApplicationStatus</td>
                            <td>@item.ApplicationDescription</td>
                            <td>@item.ApplicationLogTime.ToString("D", new CultureInfo("en"))</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Sorry, there are no records registered yet.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
