﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_CredentialLayout";
    bool hasReturnUrl = Context.Request.Query.TryGetValue("ReturnUrl", out Microsoft.Extensions.Primitives.StringValues rtn);

}

<div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
            <form class="form" method="POST">
                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Login</h4>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">mail</i>
                            </span>
                        </div>
                        <input asp-for="Email" class="form-control" placeholder="Email...">
                        <span class="text-danger col-md-12 mt-2" asp-validation-for="Email"></span>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password...">
                        <span class="text-danger col-md-12 mt-2" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input"  asp-for="RememberMe" type="checkbox" value="">
                            Remember me
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn btn-primary btn-wd">Login</button>
                    <p class="description text-center">Or</p>
                    <a asp-controller="account" asp-action="create" asp-route-returnUrl="@rtn" class="btn btn-primary btn-link btn-wd pt-0 mt-0">REGISTER</a>
                </div>
            </form>
        </div>
    </div>
</div>

